:root {

    --White: hsl(0, 0%, 100%);
    --Lightpink: hsl(275, 100%, 97%);
    --Grayishpurple: hsl(292, 16%, 49%);
    --Darkpurple: hsl(292, 42%, 14%);

}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: "Work Sans";
   background-color: var(--Lightpink);
}
p {
    font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header {
    margin-bottom: 2.5rem;
}
#top-image {
    background-image: url(/assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
    height: 20rem;
    z-index: 0;
}
#card {
    margin: -6rem auto;
    background-color: white;
    width:19rem;
    height: 40rem;
    z-index: 1;
    border-radius: 1rem;
    padding: 2.5rem;
}
.attribution {
    margin-top: 8rem;
}
#purple-star {
width: 1.8rem;
}
.flex {
    display:flex;
    font-weight: 800;
}
.faq {
    font-size: 2rem;
    padding-left: 1.5rem;
}
.p-size {
    font-size: 1.1rem;
    margin-right: 3rem;
    width: 14rem;
    line-height: 1.2rem;
}
#minus-img {
    width: 2.1rem;
}
/* ## Typography

### Body Copy

- Font size (paragraphs): 16px

### Font

- Family: [Work Sans](https://fonts.google.com/specimen/Work+Sans)
- Weights: 400, 600, 700 */ 